# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
CVLA/
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# pytest
.pytest_cache/

# C extensions
*.so

# Byte-compiled / optimized
*.pyc

# Misc
imgui.ini
